@charset "UTF-8";
.ordered-list,
.slick-dots {
  margin: 0;
  padding: 0;
  list-style: none;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.ellipsis {
  white-space: nowrap;
  /* 1 */
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden;
}

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?40o22y');
  src: url('../fonts/icomoon.eot?40o22y#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?40o22y') format('truetype'),
    url('../fonts/icomoon.woff?40o22y') format('woff'),
    url('../fonts/icomoon.svg?40o22y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-right:before {
  content: '';
}

.icon-chevron-left:before {
  content: '';
}

.icon-bulb:before {
  content: '';
}

.icon-chatbox:before {
  content: '';
}

.icon-mail:before {
  content: '';
}

.icon-instagram:before {
  content: '';
}

.icon-brand:before {
  content: '';
}

.icon-social:before {
  content: '';
}

.icon-facebook:before {
  content: '';
}

.icon-brand1:before {
  content: '';
}

.icon-social1:before {
  content: '';
}

.icon-twitter:before {
  content: '';
}

.icon-brand2:before {
  content: '';
}

.icon-tweet:before {
  content: '';
}

.icon-social2:before {
  content: '';
}

.icon-map-marker:before {
  content: '';
}

.icon-heart:before {
  content: '';
}

.icon-love:before {
  content: '';
}

.icon-like:before {
  content: '';
}

.icon-call:before {
  content: '';
}

.icon-minimize:before {
  content: '';
}

.icon-add:before {
  content: '';
}

.icon-arrow-right:before {
  content: '';
}

/* Slick slider styles */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  content: '';
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir='rtl'] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

body.compensate-for-scrollbar {
  overflow: hidden;
}

.fancybox-active {
  height: auto;
}

.fancybox-is-hidden {
  left: -9999px;
  margin: 0;
  position: absolute !important;
  top: -9999px;
  visibility: hidden;
}

.fancybox-container {
  -webkit-backface-visibility: hidden;
  height: 100%;
  left: 0;
  outline: none;
  position: fixed;
  -webkit-tap-highlight-color: transparent;
  top: 0;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  width: 100%;
  z-index: 99992;
}

.fancybox-container * {
  box-sizing: border-box;
}

.fancybox-outer,
.fancybox-inner,
.fancybox-bg,
.fancybox-stage {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.fancybox-outer {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
}

.fancybox-bg {
  background: #1e1e1e;
  opacity: 0;
  -webkit-transition-duration: inherit;
  transition-duration: inherit;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71);
  transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71);
}

.fancybox-is-open .fancybox-bg {
  opacity: 0.9;
  -webkit-transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

.fancybox-infobar,
.fancybox-toolbar,
.fancybox-caption,
.fancybox-navigation .fancybox-button {
  direction: ltr;
  opacity: 0;
  position: absolute;
  -webkit-transition: opacity 0.25s ease, visibility 0s ease 0.25s;
  transition: opacity 0.25s ease, visibility 0s ease 0.25s;
  visibility: hidden;
  z-index: 99997;
}

.fancybox-show-infobar .fancybox-infobar,
.fancybox-show-toolbar .fancybox-toolbar,
.fancybox-show-caption .fancybox-caption,
.fancybox-show-nav .fancybox-navigation .fancybox-button {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease 0s, visibility 0s ease 0s;
  transition: opacity 0.25s ease 0s, visibility 0s ease 0s;
  visibility: visible;
}

.fancybox-infobar {
  color: #ccc;
  font-size: 13px;
  -webkit-font-smoothing: subpixel-antialiased;
  height: 44px;
  left: 0;
  line-height: 44px;
  min-width: 44px;
  mix-blend-mode: difference;
  padding: 0 10px;
  pointer-events: none;
  top: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fancybox-toolbar {
  right: 0;
  top: 0;
}

.fancybox-stage {
  direction: ltr;
  overflow: visible;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 99994;
}

.fancybox-is-open .fancybox-stage {
  overflow: hidden;
}

.fancybox-slide {
  -webkit-backface-visibility: hidden;
  /* Using without prefix would break IE11 */
  display: none;
  height: 100%;
  left: 0;
  outline: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 44px;
  position: absolute;
  text-align: center;
  top: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  white-space: normal;
  width: 100%;
  z-index: 99994;
}

.fancybox-slide::before {
  content: '';
  display: inline-block;
  font-size: 0;
  height: 100%;
  vertical-align: middle;
  width: 0;
}

.fancybox-is-sliding .fancybox-slide,
.fancybox-slide--previous,
.fancybox-slide--current,
.fancybox-slide--next {
  display: block;
}

.fancybox-slide--image {
  overflow: hidden;
  padding: 44px 0;
}

.fancybox-slide--image::before {
  display: none;
}

.fancybox-slide--html {
  padding: 6px;
}

.fancybox-content {
  background: #fff;
  display: inline-block;
  margin: 0;
  max-width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 44px;
  position: relative;
  text-align: left;
  vertical-align: middle;
}

.fancybox-slide--image .fancybox-content {
  -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.14, 1);
  animation-timing-function: cubic-bezier(0.5, 0, 0.14, 1);
  -webkit-backface-visibility: hidden;
  background: transparent;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  left: 0;
  max-width: none;
  overflow: visible;
  padding: 0;
  position: absolute;
  top: 0;
  -ms-transform-origin: top left;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 99995;
}

.fancybox-can-zoomOut .fancybox-content {
  cursor: zoom-out;
}

.fancybox-can-zoomIn .fancybox-content {
  cursor: zoom-in;
}

.fancybox-can-swipe .fancybox-content,
.fancybox-can-pan .fancybox-content {
  cursor: grab;
}

.fancybox-is-grabbing .fancybox-content {
  cursor: grabbing;
}

.fancybox-container [data-selectable='true'] {
  cursor: text;
}

.fancybox-image,
.fancybox-spaceball {
  background: transparent;
  border: 0;
  height: 100%;
  left: 0;
  margin: 0;
  max-height: none;
  max-width: none;
  padding: 0;
  position: absolute;
  top: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
}

.fancybox-spaceball {
  z-index: 1;
}

.fancybox-slide--video .fancybox-content,
.fancybox-slide--map .fancybox-content,
.fancybox-slide--pdf .fancybox-content,
.fancybox-slide--iframe .fancybox-content {
  height: 100%;
  overflow: visible;
  padding: 0;
  width: 100%;
}

.fancybox-slide--video .fancybox-content {
  background: #000;
}

.fancybox-slide--map .fancybox-content {
  background: #e5e3df;
}

.fancybox-slide--iframe .fancybox-content {
  background: #fff;
}

.fancybox-video,
.fancybox-iframe {
  background: transparent;
  border: 0;
  display: block;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

/* Fix iOS */
.fancybox-iframe {
  left: 0;
  position: absolute;
  top: 0;
}

.fancybox-error {
  background: #fff;
  cursor: default;
  max-width: 400px;
  padding: 40px;
  width: 100%;
}

.fancybox-error p {
  color: #444;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

/* Buttons */
.fancybox-button {
  background: rgba(30, 30, 30, 0.6);
  border: 0;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  height: 44px;
  margin: 0;
  padding: 10px;
  position: relative;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  vertical-align: top;
  visibility: inherit;
  width: 44px;
}

.fancybox-button,
.fancybox-button:visited,
.fancybox-button:link {
  color: #ccc;
}

.fancybox-button:hover {
  color: #fff;
}

.fancybox-button:focus {
  outline: none;
}

.fancybox-button.fancybox-focus {
  outline: 1px dotted;
}

.fancybox-button[disabled],
.fancybox-button[disabled]:hover {
  color: #888;
  cursor: default;
  outline: none;
}

/* Fix IE11 */
.fancybox-button div {
  height: 100%;
}

.fancybox-button svg {
  display: block;
  height: 100%;
  overflow: visible;
  position: relative;
  width: 100%;
}

.fancybox-button svg path {
  fill: currentColor;
  stroke-width: 0;
}

.fancybox-button--play svg:nth-child(2),
.fancybox-button--fsenter svg:nth-child(2) {
  display: none;
}

.fancybox-button--pause svg:nth-child(1),
.fancybox-button--fsexit svg:nth-child(1) {
  display: none;
}

.fancybox-progress {
  background: #ff5268;
  height: 2px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -ms-transform: scaleX(0);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -ms-transform-origin: 0;
  -webkit-transform-origin: 0;
  transform-origin: 0;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  z-index: 99998;
}

/* Close button on the top right corner of html content */
.fancybox-close-small {
  background: transparent;
  border: 0;
  border-radius: 0;
  color: #ccc;
  cursor: pointer;
  opacity: 0.8;
  padding: 8px;
  position: absolute;
  right: -12px;
  top: -44px;
  z-index: 401;
}

.fancybox-close-small:hover {
  color: #fff;
  opacity: 1;
}

.fancybox-slide--html .fancybox-close-small {
  color: currentColor;
  padding: 10px;
  right: 0;
  top: 0;
}

.fancybox-slide--image.fancybox-is-scaling .fancybox-content {
  overflow: hidden;
}

.fancybox-is-scaling .fancybox-close-small,
.fancybox-is-zoomable.fancybox-can-pan .fancybox-close-small {
  display: none;
}

/* Navigation arrows */
.fancybox-navigation .fancybox-button {
  background-clip: content-box;
  height: 100px;
  opacity: 0;
  position: absolute;
  top: calc(50% - 50px);
  width: 70px;
}

.fancybox-navigation .fancybox-button div {
  padding: 7px;
}

.fancybox-navigation .fancybox-button--arrow_left {
  left: 0;
  padding: 31px 26px 31px 6px;
}

.fancybox-navigation .fancybox-button--arrow_right {
  padding: 31px 6px 31px 26px;
  right: 0;
}

/* Caption */
.fancybox-caption {
  background: -webkit-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0.85) 0%,
    rgba(0, 0, 0, 0.3) 50%,
    rgba(0, 0, 0, 0.15) 65%,
    rgba(0, 0, 0, 0.075) 75.5%,
    rgba(0, 0, 0, 0.037) 82.85%,
    rgba(0, 0, 0, 0.019) 88%,
    rgba(0, 0, 0, 0) 100%
  );
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.85) 0%,
    rgba(0, 0, 0, 0.3) 50%,
    rgba(0, 0, 0, 0.15) 65%,
    rgba(0, 0, 0, 0.075) 75.5%,
    rgba(0, 0, 0, 0.037) 82.85%,
    rgba(0, 0, 0, 0.019) 88%,
    rgba(0, 0, 0, 0) 100%
  );
  bottom: 0;
  color: #eee;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  line-height: 1.5;
  padding: 75px 44px 25px 44px;
  pointer-events: none;
  right: 0;
  text-align: center;
  z-index: 99996;
}

.fancybox-caption--separate {
  margin-top: -50px;
}

.fancybox-caption__body {
  max-height: 50vh;
  overflow: auto;
  pointer-events: all;
}

.fancybox-caption a,
.fancybox-caption a:link,
.fancybox-caption a:visited {
  color: #ccc;
  text-decoration: none;
}

.fancybox-caption a:hover {
  color: #fff;
  text-decoration: underline;
}

/* Loading indicator */
.fancybox-loading {
  -webkit-animation: fancybox-rotate 1s linear infinite;
  animation: fancybox-rotate 1s linear infinite;
  background: transparent;
  border: 4px solid #888;
  border-bottom-color: #fff;
  border-radius: 50%;
  height: 50px;
  left: 50%;
  margin: -25px 0 0 -25px;
  opacity: 0.7;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 50px;
  z-index: 99999;
}

@-webkit-keyframes fancybox-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes fancybox-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Transition effects */
.fancybox-animated {
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
}

/* transitionEffect: slide */
.fancybox-fx-slide.fancybox-slide--previous {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.fancybox-fx-slide.fancybox-slide--next {
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.fancybox-fx-slide.fancybox-slide--current {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* transitionEffect: fade */
.fancybox-fx-fade.fancybox-slide--previous,
.fancybox-fx-fade.fancybox-slide--next {
  opacity: 0;
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.fancybox-fx-fade.fancybox-slide--current {
  opacity: 1;
}

/* transitionEffect: zoom-in-out */
.fancybox-fx-zoom-in-out.fancybox-slide--previous {
  opacity: 0;
  -webkit-transform: scale3d(1.5, 1.5, 1.5);
  transform: scale3d(1.5, 1.5, 1.5);
}

.fancybox-fx-zoom-in-out.fancybox-slide--next {
  opacity: 0;
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
  transform: scale3d(0.5, 0.5, 0.5);
}

.fancybox-fx-zoom-in-out.fancybox-slide--current {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

/* transitionEffect: rotate */
.fancybox-fx-rotate.fancybox-slide--previous {
  opacity: 0;
  -ms-transform: rotate(-360deg);
  -webkit-transform: rotate(-360deg);
  transform: rotate(-360deg);
}

.fancybox-fx-rotate.fancybox-slide--next {
  opacity: 0;
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.fancybox-fx-rotate.fancybox-slide--current {
  opacity: 1;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

/* transitionEffect: circular */
.fancybox-fx-circular.fancybox-slide--previous {
  opacity: 0;
  -webkit-transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
  transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
}

.fancybox-fx-circular.fancybox-slide--next {
  opacity: 0;
  -webkit-transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
  transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
}

.fancybox-fx-circular.fancybox-slide--current {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
}

/* transitionEffect: tube */
.fancybox-fx-tube.fancybox-slide--previous {
  -webkit-transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg);
  transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg);
}

.fancybox-fx-tube.fancybox-slide--next {
  -webkit-transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg);
  transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg);
}

.fancybox-fx-tube.fancybox-slide--current {
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
}

/* Styling for Small-Screen Devices */
@media all and (max-height: 576px) {
  .fancybox-slide {
    padding-left: 6px;
    padding-right: 6px;
  }
  .fancybox-slide--image {
    padding: 6px 0;
  }
  .fancybox-close-small {
    right: -6px;
  }
  .fancybox-slide--image .fancybox-close-small {
    background: #4e4e4e;
    color: #f2f4f6;
    height: 36px;
    opacity: 1;
    padding: 6px;
    right: 0;
    top: 0;
    width: 36px;
  }
  .fancybox-caption {
    padding-left: 12px;
    padding-right: 12px;
  }
}

/* Share */
.fancybox-share {
  background: #f4f4f4;
  border-radius: 3px;
  max-width: 90%;
  padding: 30px;
  text-align: center;
}

.fancybox-share h1 {
  color: #222;
  font-size: 35px;
  font-weight: 700;
  margin: 0 0 20px 0;
}

.fancybox-share p {
  margin: 0;
  padding: 0;
}

.fancybox-share__button {
  border: 0;
  border-radius: 3px;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  margin: 0 5px 10px 5px;
  min-width: 130px;
  padding: 0 15px;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}

.fancybox-share__button:visited,
.fancybox-share__button:link {
  color: #fff;
}

.fancybox-share__button:hover {
  text-decoration: none;
}

.fancybox-share__button--fb {
  background: #3b5998;
}

.fancybox-share__button--fb:hover {
  background: #344e86;
}

.fancybox-share__button--pt {
  background: #bd081d;
}

.fancybox-share__button--pt:hover {
  background: #aa0719;
}

.fancybox-share__button--tw {
  background: #1da1f2;
}

.fancybox-share__button--tw:hover {
  background: #0d95e8;
}

.fancybox-share__button svg {
  height: 25px;
  margin-right: 7px;
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 25px;
}

.fancybox-share__button svg path {
  fill: #fff;
}

.fancybox-share__input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #d7d7d7;
  border-radius: 0;
  color: #5d5b5b;
  font-size: 14px;
  margin: 10px 0 0 0;
  outline: none;
  padding: 10px 15px;
  width: 100%;
}

/* Thumbs */
.fancybox-thumbs {
  background: #ddd;
  bottom: 0;
  display: none;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  padding: 2px 2px 4px 2px;
  position: absolute;
  right: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  top: 0;
  width: 212px;
  z-index: 99995;
}

.fancybox-thumbs-x {
  overflow-x: auto;
  overflow-y: hidden;
}

.fancybox-show-thumbs .fancybox-thumbs {
  display: block;
}

.fancybox-show-thumbs .fancybox-inner {
  right: 212px;
}

.fancybox-thumbs__list {
  font-size: 0;
  height: 100%;
  list-style: none;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  position: absolute;
  position: relative;
  white-space: nowrap;
  width: 100%;
}

.fancybox-thumbs-x .fancybox-thumbs__list {
  overflow: hidden;
}

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar {
  width: 7px;
}

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  border-radius: 10px;
}

.fancybox-thumbs__list a {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  float: left;
  height: 75px;
  margin: 2px;
  max-height: calc(100% - 8px);
  max-width: calc(50% - 4px);
  outline: none;
  overflow: hidden;
  padding: 0;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  width: 100px;
}

.fancybox-thumbs__list a::before {
  border: 6px solid #ff5268;
  bottom: 0;
  content: '';
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 99991;
}

.fancybox-thumbs__list a:focus::before {
  opacity: 0.5;
}

.fancybox-thumbs__list a.fancybox-thumbs-active::before {
  opacity: 1;
}

/* Styling for Small-Screen Devices */
@media all and (max-width: 576px) {
  .fancybox-thumbs {
    width: 110px;
  }
  .fancybox-show-thumbs .fancybox-inner {
    right: 110px;
  }
  .fancybox-thumbs__list a {
    max-width: calc(100% - 10px);
  }
}

/* custom select styles */
select {
  min-width: 100%;
}

.jcf-select {
  display: block;
  position: relative;
  min-width: 100%;
  border: 1px solid #b6b8bb;
  background: #fff;
  border-radius: 2px;
  height: 40px;
}

.jcf-select select {
  z-index: 1;
  left: 0;
  top: 0;
}

.jcf-select .jcf-select-text {
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  font-size: inherit;
  line-height: 38px;
  font-size: 14px;
  margin: 0 35px 0 15px;
  color: #6d7278;
  font-weight: 300;
}

.jcf-select .jcf-select-opener {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
  pointer-events: none;
  font-weight: normal;
}
.jcf-select .jcf-select-opener:before {
  display: block;
  content: '';
  border-top: 0.4em solid;
  border-top-color: #da2e74;
  border-right: 0.4em solid transparent;
  border-bottom: 0;
  border-left: 0.4em solid transparent;
}

.jcf-drop-active .jcf-select-opener:before {
  border-top: 0;
  border-bottom: 0.4em solid #da2e74;
}

body > .jcf-select-drop {
  position: absolute;
  margin: 0;
  z-index: 9999;
}

body > .jcf-select-drop.jcf-drop-flipped {
  margin: 0;
}

.jcf-select .jcf-select-drop {
  position: absolute;
  margin-top: 0px;
  z-index: 9999;
  top: 100%;
  left: 0;
  right: 0;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 2px 1px rgba(216, 218, 226, 0.8);
  border: 1px solid #b6b8bb;
  background: #fff;
  overflow: hidden;
  width: 100% !important;
}

.jcf-select .jcf-drop-flipped {
  bottom: 100%;
  top: auto;
  margin-bottom: 5px;
  border-radius: 5px 5px 0 0;
}

/* multiple select styles */
.jcf-list-box {
  overflow: hidden;
  display: inline-block;
  border: 1px solid #b8c3c9;
  min-width: 200px;
  margin: 0 15px;
}

/* select options styles */
.jcf-list {
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: #fff;
  font-size: 18px;
  line-height: 14px;
  width: 100%;
}
.jcf-list ul li:first-child,
.jcf-list ul li:last-child {
  margin-bottom: 0;
}

.jcf-list .jcf-list-content {
  vertical-align: top;
  display: inline-block;
  overflow: auto;
  width: 100%;
}

.jcf-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.jcf-list ul li {
  overflow: hidden;
  display: block;
  margin: 0;
}

.jcf-list .jcf-overflow {
  overflow: auto;
}

.jcf-list .jcf-option {
  overflow: hidden;
  cursor: default;
  display: block;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  line-height: 18px;
  position: relative;
  cursor: pointer;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  white-space: nowrap;
  text-transform: capitalize;
  padding: 8px 15px;
  margin-bottom: 1px;
}

.jcf-list .jcf-disabled {
  background: #fff !important;
  color: #aaa !important;
}

.jcf-select-drop .jcf-option:hover,
.jcf-select-drop .jcf-selected,
.jcf-list-box .jcf-selected {
  background-color: #fdf4f8;
}

.jcf-list .jcf-optgroup-caption {
  white-space: nowrap;
  font-weight: bold;
  display: block;
  padding: 5px 9px;
  cursor: default;
  color: #000;
}

.jcf-list .jcf-optgroup .jcf-option {
  padding-left: 30px;
}

body {
  font-weight: 400;
  background: #fff;
}

#wrapper {
  overflow: hidden;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 20px;
  display: block;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
.h1 a,
.h2 a,
.h3 a,
.h4 a,
.h5 a,
.h6 a {
  color: inherit;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
.h1 a:hover,
.h2 a:hover,
.h3 a:hover,
.h4 a:hover,
.h5 a:hover,
.h6 a:hover {
  text-decoration: underline;
  color: inherit;
}

h1,
.h1 {
  font-size: 32px;
  font-size: 3.2rem;
}
@media (min-width: 1024px) {
  h1,
  .h1 {
    font-size: 48px;
  }
}

h2,
.h2 {
  font-size: 28px;
  font-size: 2.8rem;
}
@media (min-width: 1024px) {
  h2,
  .h2 {
    font-size: 40px;
  }
}

h3,
.h3 {
  font-size: 26px;
  font-size: 2.6rem;
}
@media (min-width: 1024px) {
  h3,
  .h3 {
    font-size: 32px;
  }
}

h4,
.h4 {
  font-size: 22px;
  font-size: 2.2rem;
}
@media (min-width: 1024px) {
  h4,
  .h4 {
    font-size: 24px;
  }
}

h5,
.h5 {
  font-size: 18px;
  font-size: 1.8rem;
}
@media (min-width: 1024px) {
  h5,
  .h5 {
    font-size: 20px;
  }
}

h6,
.h6 {
  font-size: 16px;
  font-size: 1.6rem;
}
@media (min-width: 1024px) {
  h6,
  .h6 {
    font-size: 16px;
  }
}

b,
strong {
  font-weight: 700;
}

a,
button {
  -webkit-transition: color 0.3s ease-in-out, background 0.3s ease-in-out,
    border 0.3s ease-in-out, opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out,
    border 0.3s ease-in-out, opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

svg {
  vertical-align: top;
}

.btn {
  position: relative;
  -webkit-transition: color 0.3s ease-in-out, background 0.3s ease-in-out,
    border 0.3s ease-in-out, opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out,
    border 0.3s ease-in-out, opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 190px;
  white-space: normal;
  font-size: 16px;
  line-height: 20px;
}
.btn:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  margin-top: 4px;
}
.btn .post-date {
  font-size: 12px;
}

.has-bg {
  display: block;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.has-overlay {
  position: relative;
  z-index: 1;
}
.has-overlay:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.box-shadow {
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
}

.block-vc {
  min-height: 300px;
}
@media (min-width: 1024px) {
  .block-vc {
    min-height: 362px;
  }
}
.block-vc:after {
  content: '';
  min-height: inherit;
}

.list-text > li {
  position: relative;
  margin-bottom: 30px;
}
.list-text > li:before {
  content: '';
  display: inline-block;
  vertical-align: top;
  margin: 0 20px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #0c405f;
  position: relative;
  top: 10px;
}
.text-white .list-text > li:before {
  background: #fff;
}

.ordered-list {
  counter-reset: item;
  height: 1%;
}
.ordered-list > li {
  margin-bottom: 30px;
}
.ordered-list > li:before {
  content: counters(item, '.', decimal) '.';
  counter-increment: item;
  display: inline-block;
  vertical-align: top;
  margin: 0 20px;
}

.font-xl {
  font-size: 30px;
  font-size: 3rem;
  line-height: 1;
}

.font-sm {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.286;
}

.font-xs {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.5;
}

.slick-dots li {
  margin: 20px 5px;
}

.slick-dots button {
  background: #fff;
  border: 2px solid #fff;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  font-size: 0;
  line-height: 0;
  display: block;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .slick-dots button {
    width: 10px;
    height: 10px;
  }
}
.slick-dots button:hover {
  background: #384045;
}

.slick-dots .slick-active button {
  background: #384045;
}

.has-decor-shadow {
  position: relative;
}
.has-decor-shadow:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  // background: url(../images/img-shadow.png) no-repeat;
  width: 185px;
  height: 39px;
}

.box-shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1) !important;
}

.popup-holder {
  overflow: hidden;
  height: 1px;
  visibility: hidden;
}

.rounded-10 {
  border-radius: 10px !important;
}

.rounded-5 {
  border-radius: 5px !important;
}

#main {
  height: 100vh;
  padding: 140px 0 60px;
  // background: #222;
}

.main-wrapper {
  height: 100%;
  overflow: auto;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  height: 140px;
  overflow: hidden;
  background: #fff;
}

.slogan {
  width: 450px;
}

.header-title {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  height: 80px;
  overflow: hidden;
}
#footer h6 {
  width: 100px;
}
#footer p {
  margin: 0 15px;
}
#footer p:before {
  content: '-';
  display: inline-block;
  vertical-align: top;
}

.line-box {
  width: calc(100% - 100px);
}

.line-box .mask {
  overflow: hidden;
}

.line-box .line {
  width: 99999px;
  float: left;
}

.hero-slider {
  // height: calc(100vh - 200px);

  * {
    height: 100%;
  }

  .news {
    * {
      height: auto;
    }

    > .row {
      padding: 0 30px;
    }
  }

  .img-holder {
    background-size: cover;
    background-position: 50% 0;
    background-repeat: none;
  }
}

.video-holder {
  position: relative;

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.bg-video-holder {
  // padding-top: 100%;
  position: relative;
  overflow: hidden;
  background-size: cover;
}

.bg-video-holder .bg-video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  // opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.video-active .bg-video {
  opacity: 1;
}

#gallery {
  // display: block !important;
}

.hero-slider {
  .slide {
    position: relative;
  }

  &__caption {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    background: #de5f5f;
    color: $white;
    font-size: 18px;
    line-height: 1;
    border-radius: 5px;
    height: auto;
    padding: 10px;
    font-weight: 700;
  }
}

.main-wrapper {
  background: #000;
}

.hero-section {
  // display: flex;
  height: 100%;

  .hero-top {
    height: calc(100% - 300px);
    display: flex;
  }

  .hero-bottom {
    display: flex;

    height: 300px;
    background: #f39494;
    // padding: 20px;
  }

  .wada-slider {
    width: calc(100% - 800px);
  }

  .team-section {
    width: 200px;
    padding: 20px;
    background: lightskyblue;
  }

  .services-block {
    width: 600px;
    height: 100%;
    padding: 20px;
  }

  .services-slider {
    height: 100%;
  }

  .hero-slider {
    width: calc(100% - 600px);
  }

  .hero-left {
    width: 300px;
    padding: 20px;
    // padding-top: 70px;
    background: lightskyblue;
  }

  .hero-right {
    width: 300px;
    padding: 20px;
    // padding-top: 70px;
    background: lightskyblue;
  }
}

.profile-block {
  text-align: center;

  + .profile-block {
    margin-top: 10px;
  }

  &.is-row {
    position: relative;
    padding-left: 120px;
    min-height: 150px;
    text-align: left;
    width: 280px;
    margin: 0 auto;

    .profile-block__image {
      position: absolute;
      top: -15px;
      left: 0;
    }
  }

  &__image {
    height: 150px;
    width: 150px;
    margin: 0 auto 10px;
    border-radius: 100%;
    background-position: 50% 0;
    background-image: url(../images/avatar.jpg);

    .hero-bottom & {
      height: 100px;
      width: 100px;
    }
  }

  &__name {
    font-weight: 700;
    font-size: 22px;
    line-height: 1;
    color: #c71111;
    margin-bottom: 4px;

    .hero-bottom & {
      font-size: 18px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    color: rgb(8, 64, 207);
    margin-bottom: 5px;

    .hero-bottom & {
      font-size: 16px;
    }
  }

  address {
    color: #444;
    .phone {
      font-weight: 700;
      // color: rgb(8, 64, 207);
      font-size: 18px;
      line-height: 0.8;

      .hero-bottom & {
        font-size: 14px;
      }
    }
  }

  a {
    font-size: 12px;
    line-height: 1;
    letter-spacing: 1px;
    color: #444;
    // color: rgb(8, 64, 207);
    // font-weight: 400;

    .hero-bottom & {
      // display: none;
    }
  }
}

.wada-slider {
  // padding: 20px;

  h2 {
    font-size: 24px;
    line-height: 1;
    text-align: center;
    margin-bottom: 5px;
  }

  .slide {
    padding: 10px 20px;
  }
}

.box {
  // margin: 3em auto;
  // padding: 2em;
  width: 100%;
  height: 100%;
  // height: 3em;
  position: relative;
  overflow: hidden;
  // top: 1em;
  // background-color: #fff;
  // box-shadow: 7px 5px 4px rgba(0, 0, 0, 0.5);
  // border: 1px solid black;
  // border-radius: 2px;
}
/* Animating the UL 
-_-_-_-_-_-_-_-_-_-_-_-_ 

@keyframes "scroll" {
 from {
   top: 100px;
 }
 to {
   top: -200px;
 }

}

@-moz-keyframes scroll {
 from {
   top: 100px;
 }
 to {
   top: -200px;
 }

}

@-webkit-keyframes "scroll" {
 from {
   top: 100px;
 }
 to {
   top: -200px;
 }

}

@-ms-keyframes "scroll" {
 from {
   top: 100px;
 }
 to {
   top: -200px;
 }

}

@-o-keyframes "scroll" {
 from {
   top: 100px;
 }
 to {
   top: -200px;
 }

}
*/
.scroll {
  position: absolute;

  /*-webkit-animation: scroll 15s linear infinite;
	-moz-animation: scroll 15s linear infinite;
	-ms-animation: scroll 15s linear infinite;
	-o-animation: scroll 15s linear infinite;
	animation: scroll 15s linear infinite; */
}

.scroll li {
  // list-style: circle;
}

.widget-slider {
  // visibility: hidden;
}

.services-slider {
  font-size: 20px;
  line-height: 1.3;

  strong {
    display: block;
    color: #0840cf;
  }

  ol {
    padding-left: 0;

    > li {
      &:before {
        content: counters(item, '.', devanagari) '.';
        margin-left: 30px;
        font-size: 24px;
        line-height: 1;
        font-weight: 70;
      }
    }
  }
}
