#footer {
  height: 60px;

  p {
    color: #c71111;

    &:before {
      content: '';
      display: inline-block;
      vertical-align: top;
      width: 8px;
      height: 8px;
      background: lightskyblue;
      margin: 9px 5px 0 0;
      border-radius: 50%;
    }
  }
}
