.logo {
  width: 700px;
  margin: -18px 0 0;
}

.header-logo {
  position: relative;
}

.flag {
  width: 100px;
  margin: 0 0 0 37px;
  position: absolute;
  top: -13px;
  left: 100%;
}

.header-meta {
  position: absolute;
  right: 20px;
  top: 10px;
  width: 250px;
  padding: 10px;
  border-radius: 10px;
  background: #f79494;
  text-align: center;
  overflow: hidden;

  iframe {
    display: block;
    margin: 0;
  }
}
