.btn,
button,
input[type='submit'],
button[type='submit'],
.wp-block-button__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 120px;
  min-height: 46px;
  line-height: 1;
  font-size: 25px;
  padding: 5px 10px 5px;
  font-family: $font-roboto;
  font-weight: 300;
  border: 0;
  outline: none;
  border-radius: 0;
  text-decoration: none;
  cursor: pointer;
  transition: opacity, border, background 0.3s linear;
  background: $green;
  color: $black;
  text-transform: uppercase;
  text-align: center;

  @include media('>=desktop') {
    // font-size: 24px;
    // padding: 11px 35px 13px;
  }

  &:hover {
    background: darken($green, 15);
    color: $white;
  }

  &.sm {
    font-size: 15px;
    line-height: 1;
    padding: 3px 15px 4px;
    letter-spacing: -0.06px;
    min-width: 100px;
    min-height: 20px;

    @include media('>=desktop') {
      font-size: 15px;
      padding: 3px 15px 4px;
    }
  }
}
