.contact-form {
  max-width: 1300px;
  position: relative;
  z-index: 20;

  form {
    margin: 0;
  }

  fieldset {
    margin: 0;
    padding: 0;
    border: 0;
  }

  .input-holder {
    margin-bottom: 30px;
    position: relative;
  }

  input[type='submit'] {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 10;
  }
}
