.info-boxes {
  padding-bottom: 30px;

  .row {
    margin-left: 0;
    margin-right: 0;

    > div {
      padding-left: 0;
      padding-right: 0;

      @include media('>=tablet') {
        display: flex;
      }
    }
  }
}

.info-box {
  width: 100%;
  display: flex;
  position: relative;
  background: $black;
  z-index: 1;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: -3px;
    bottom: -3px;
    border: 3px solid $green;
    z-index: 2;
  }

  &:hover {
    .info-box__image {
      img {
        transform: scale(1.1);
      }
    }
  }

  &__title {
    display: block;
    padding: 10px 5px;
    background: rgba($white, 0.15);
    font-family: $font-dnc;
    font-weight: 700;
    font-size: 22px;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    // position: absolute;
    // bottom: 0;
    // left: 0;
    // right: 0;
    color: $white;
    width: 100%;

    @include media('>=tablet') {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @include media('>=desktop') {
      font-size: 26px;
    }

    @include media('>=widescreen') {
      font-size: 36px;
    }

    @include media('<tablet') {
      height: auto !important;
    }
  }

  &__image {
    width: 100%;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    overflow: hidden;

    @include media('>=tablet') {
      min-height: 200px;
      max-width: 70%;
    }

    @include media('>=widescreen') {
      min-height: 310px;
      max-width: none;
    }

    img {
      @include animate(transform);
    }
  }

  &__wrap {
    width: 100%;
    // padding-bottom: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
