.info-section {
  @include media('>=desktop') {
    padding-left: 50px;
    padding-right: 100px;
  }

  &.footer-section {
    padding-left: 0;
    padding-right: 0;
  }

  &-wrapper {
    position: relative;
    height: 100%;
  }

  .container {
    height: 100%;
    // display: flex;
    // align-items: center;
    padding-top: 80px;
    padding-bottom: 30px;

    @include media('>=tablet') {
      padding-top: 150px;
    }

    @include media('>=desktop') {
      padding-top: 165px;
    }

    @include media('>=widescreen') {
      padding-top: 200px;
    }
  }

  &__text {
    @include media('>=desktop') {
      @include media('>=desktop') {
        // padding-right: 100px;
      }
    }

    // > .row {
    //   > .col-md-7,
    //   > .col-md-5 {
    //     @include media('>=desktop') {
    //       flex: 0 0 50% !important;
    //       max-width: 50% !important;
    //     }
    //   }
    // }
  }

  h2,
  .h2,
  h3,
  .h3 {
    text-transform: uppercase;

    &:last-child,
    &:only-child {
      margin-bottom: 0;
    }
  }

  h2,
  .h3 {
    font-size: 44px;
    line-height: 40px;

    @include media('>=tablet') {
      font-size: 76px;
      line-height: 0.93;
    }

    @include media('>=1400px') {
      font-size: 92px;
    }

    @include media('>=widescreen') {
      font-size: 125px;
      line-height: 108px;
    }
  }

  h3,
  .h3 {
    font-size: 34px;
    line-height: 30px;

    @include media('>=tablet') {
      font-size: 50px;
      line-height: 0.93;
    }

    @include media('>=1400px') {
      font-size: 66px;
    }

    @include media('>=widescreen') {
      font-size: 104px;
      line-height: 88px;
    }
  }

  &__list {
    font-size: 18px;
    line-height: 22px;
    font-weight: 300;
    position: relative;
    padding-top: 20px;
    margin-top: 20px;

    @include media('>=tablet') {
      padding-top: 0;
      margin-top: 0;
      padding-left: 20px;
    }

    @include media('>=desktop') {
      font-size: 22px;
      line-height: 28px;
    }

    @include media('>=widescreen') {
      font-size: 33px;
      line-height: 38px;
      padding-left: 42px;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      border-top: 1px solid $green;

      @include media('>=tablet') {
        border-top: 0;
        border-left: 1px solid $green;
        right: auto;
        bottom: 5px;
        top: 5px;
      }
    }

    li {
      margin-bottom: 20px;

      @include media('>=desktop') {
        margin-bottom: 35px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.scrollable-content {
  // background: white;
  overflow: scroll;
  // margin: 0 auto;
  // width: 500px;
  height: 100vh;
}

.info-section-wrapper {
  width: 100%;
  min-height: 100vh;
  z-index: 10;
  background: $black;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  50% {
    opacity: 0.15;
    visibility: visible;
  }

  75% {
    opacity: 0.25;
    visibility: visible;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

.section {
  background: #000;
  position: relative;
  width: 100%;
  min-height: 100vh;
  // opacity: 0;
  //position: absolute;
  //top: -9999px !important;
  //left: -9999px !important;
  // opacity: 0;
  // visibility: hidden;

  &.activated {
    position: relative;
    top: 0 !important;
    left: 0 !important;

    * {
      animation: fadeIn 500ms linear;
    }
  }
}
