.info-box-popup {
  background: none;

  .fancybox-button {
    color: $white;
    padding: 0;
    right: 50px;
    top: 50px;
    opacity: 1;
    min-width: 20px;
    width: 40px;
    height: 40px;

    @include media('>=widescreen') {
      width: 60px;
      height: 60px;
      right: 80px;
      top: 80px;
    }
  }
}
