.info-slider-section {
  background: $black;
  color: $white;
  font-weight: 300;
  padding: 20px;

  @include media('>=tablet') {
    padding: 20px 50px 20px 20px;
  }

  @include media('>=widescreen') {
    padding: 50px 120px 100px 90px;
  }

  .slick-dots {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
  }

  &__text {
    padding: 20px;

    @include media('>=desktop') {
      font-size: 20px;
      line-height: 24px;
    }

    @include media('>=widescreen') {
      font-size: 33px;
      line-height: 38px;
      padding: 0;
    }
  }
}

.info-slider {
  &__image {
    max-width: 1020px;
    // margin: 0 auto;

    img {
      // margin: 0 auto;
      max-width: none;
      width: 100%;
    }
  }
}
