.nav {
  font-family: $font-roboto;

  a {
    font-weight: inherit;
  }

  &__opener {
    position: absolute;
    right: 15px;
    top: 20px;
    z-index: 10;
    font-size: 0;
    line-height: 0;
    width: 46px;
    height: 50px;
    color: $green;
    z-index: 99;

    @include media('>=tablet') {
      right: 20px;
    }

    @include media('>=desktop') {
      right: 20px;
      top: 14px;
    }

    .nav--dark &,
    .section--light & {
      color: $black;
    }

    &:hover {
      color: $green;

      .nav--dark &,
      .section--light & {
        color: $black;
      }

      .nav__opener-hover {
        opacity: 1;
      }

      span {
        // opacity: 0;
      }
    }

    &-hover {
      opacity: 0;
    }

    &-hover:before,
    &-hover:after,
    &-hover {
      background: $green;
      position: absolute;
      top: 50%;
      left: 12px;
      height: 1px;
      margin-top: -1px;
      width: 22px;
      // opacity: 0;
      @include animate(width left opacity);

      @include media('>=desktop') {
        left: 10px;
        width: 28px;
      }

      .nav--dark &,
      .section--light & {
        background: $black;
      }

      .nav--active & {
        width: 46px;
        left: 0;
        opacity: 1;
      }

      .nav--active.nav--dark &,
      .nav--active.section--light & {
        background: $white;
      }
    }

    &-hover:before,
    &-hover:after {
      content: '';
      top: -8px;
      width: 12px;
      left: 5px;
      border-radius: 2px 2px 0 0;

      @include media('>=desktop') {
        width: 17px;
        left: 4px;
      }

      .nav--active & {
        width: 46px;
        border-radius: 0;
        left: 0;
      }
    }

    &-hover:after {
      top: 10px;
      border-radius: 0;
      width: 22px;
      left: 0px;

      @include media('>=desktop') {
        width: 31px;
        left: -2px;
      }

      .nav--active & {
        width: 46px;
      }
    }

    span {
      opacity: 1;
      display: block;
      @include animate(opacity);

      &:before {
        content: $icon-water-drop;
        font-family: 'icomoon';
        font-size: 34px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include media('>=desktop') {
          font-size: 44px;
        }

        .nav--active & {
          opacity: 0;
        }
      }

      .nav--active & {
        opacity: 0;
      }
    }
  }

  &__drop {
    position: absolute;
    top: 0;

    right: 0;
    width: 280px;
    z-index: 77;
    background: $black;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    padding: 25px 30px 20px;
    @include animate(opacity visibility);

    @include media('>=desktop') {
      right: 15px;
      width: 320px;
      padding-top: 15px;
    }

    > div,
    > ul,
    > ol {
      width: 100%;
    }

    .admin-bar & {
      margin-top: 32px;
    }

    @include media('<782px') {
      .admin-bar & {
        margin-top: 46px;
      }
    }

    .nav--active & {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }

  &__wrap {
    height: 100%;
    width: 100%;
  }

  &__list {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    font-family: $font-roboto;
    margin-bottom: 40px;
    letter-spacing: 2.5px;

    &:only-child {
      margin-bottom: 0;
    }

    > li {
      position: relative;
      margin-bottom: 10px;

      > a {
        display: inline-block;
        vertical-align: top;
        padding: 10px 0;
        position: relative;
        border-bottom: 2px solid rgba($green, 0);
      }

      &.active {
        > a {
          border-bottom-color: rgba($green, 1);
        }
      }
    }

    a {
      color: $white;

      &:hover {
        border-bottom-color: rgba($green, 0.5);
      }

      &.active {
        border-bottom-color: $green;
      }
    }
  }

  .social-networks {
    align-items: center;

    a {
      &:hover {
        color: $green;

        .icon-facebook {
          border-color: $green;
        }
      }
    }

    .icon-facebook {
      height: 35px;
      width: 35px;
      border-radius: 100%;
      border: 2px solid $white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
    }
  }
}
