.page-banner {
  position: relative;
  z-index: 1;
  background-blend-mode: multiply;
  background-color: $black;
  padding-top: 60px;

  @include media('>=tablet') {
    padding-top: 0;
  }

  .container {
    height: 220px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 50px;

    @include media('>=tablet') {
      height: 530px;
      padding-top: 100px;
      padding-bottom: 50px;
    }

    @include media('>=desktop') {
      padding-top: 165px;
    }
  }

  &__text {
    width: 100%;
    text-align: center;
    color: $white;
    font-size: 18px;
    line-height: 22px;
  }

  h1,
  .h1 {
    font-size: 25px;
    line-height: 1.3;
    position: relative;
    padding-bottom: 10px;

    @include media('>=tablet') {
      font-size: 35px;
    }

    @include media('>=desktop') {
      font-size: 50px;
      padding-bottom: 25px;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 260px;
      margin: 0 auto;
      border-bottom: 2px solid rgba($green, 0.5);

      @include media('>=tablet') {
        width: 400px;
      }

      @include media('>=desktop') {
        width: 560px;
      }
    }

    &:only-child {
      margin-bottom: 0;
    }
  }

  .has-bg {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-blend-mode: multiply;
    background-color: $green;

    @include media('>=tablet') {
      top: 0;
    }
  }
}
