.slick-dots {
  @extend %listreset;
  display: flex;
  flex-wrap: wrap;
  z-index: 22;
  justify-content: center;

  li {
    display: flex;
    align-items: center;
    vertical-align: top;
    margin: 0 5px;
    padding: 0;

    &:before {
      display: none;
    }
  }

  button {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    background: $white;
    outline: none;
    min-width: 10px;
    min-height: 10px;
    width: 10px;
    height: 10px;
    border: 0;
    border-radius: 50%;
    font-size: 0;
    line-height: 0;
    border: 0;

    &:hover {
      background: $green;
    }
  }

  .slick-active {
    button {
      background: $green;
    }
  }
}
