.social-networks {
  font-size: 36px;
  line-height: 1;
  margin-left: -8px;
  margin-right: -8px;

  &.text-white {
    color: $white;

    a {
      &:hover {
        // opacity: 0.7;
      }
    }
  }

  > li {
    padding-left: 8px;
    padding-right: 8px;
    margin: 3px 0;
  }

  a {
    color: inherit;

    &:hover {
      color: $blue-300;
    }
  }
}
