.vertical-info-section {
  background: $black;

  @include media('>=tablet') {
    // height: 100vh;
    padding-bottom: 80px;
    // overflow: hidden;
  }

  @include media('>=widescreen') {
    padding-bottom: 150px;
  }

  .page--end & {
    padding-bottom: 0 !important;
  }
}

.slider-pagination {
  @extend %listreset;
  flex-wrap: wrap;
  font-size: 13px;
  line-height: 1.2;
  position: fixed;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  font-weight: 300;
  font-family: $font-roboto;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 46px 0 0;
  @include media(">=tablet") {
    right: 10px;
  }
  @include media(">=widescreen") {
    right: 30px;
  }

  li {
    margin-bottom: 15px;
    @include media(">=tablet") {
      margin-bottom: 33px;
    }
  }

  &.nav--dark {
    a {
      color: $black;

      &:after {
        background: $black;
      }
    }
  }

  a {
    color: $green;
    position: relative;

    &:hover {
      &:after {
        background: $green;
      }

      span {
        @include media('>=desktop') {
          display: block;
          opacity: 0.6;
          visibility: visible;
        }
      }
    }

    &:after {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      margin: 3px;
      background: $white;
      border-radius: 50%;
      transition: all 0.3s linear;
    }

    span {
      display: none;
      
      @include media('>=desktop') {
        transition: all 0.3s linear;
        pointer-events: none;
        display: block;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 50%;
        margin-top: -7px;
        right: 0;
        line-height: 16px;
        padding-right: 30px;
        white-space: nowrap;
      }
    }

    &.active {
      &:after {
        width: 16px;
        height: 16px;
        margin: 0;
      }

      span {
        @include media('>=desktop') {
          display: block;
          opacity: 1;
          visibility: visible;
          pointer-events: auto;
        }
      }
    }
  }
}
