// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels

$breakpoints: (
  'xs-phone': 320px,
  'phone': 428px,
  'tablet': 768px,
  'desktop': 1024px,
  'widescreen': 1920px,
  'xxl': 1600px,
);

// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)',
);

// Colors

$white: #ffffff;
$black: #000000;
$black-300: #010101;
$black-400: #0c0803;
$black-500: #3c3c3b;
$black-600: #090909;
$gray: #484445;
$gray-100: #e6e7e8;
$gray-300: #f1f1f1;

$purple: #745478;
$purple-100: #faf9ff;
$purple-200: #e0dfe5;
$green: #d2ff00;
$orange: #f89923;
$orange-400: #f79823;
$orange-800: #ca5d2b;

$blue: #007fc4;
$blue-100: #dbebfa;
$blue-200: #009cdd;
$blue-300: #327bbb;
$blue-400: #00aeef;
$blue-600: #282f62;
$blue-800: #070e3e;
$navy-blue: #26336d;

$yellow: #f3c9a1;
$red: #dc5e26;

$brown: #4a3200;

$font-dnc: 'DIN Condensed', 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
$font-roboto: 'Roboto', 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;

$font-family-sans-serif: $font-roboto;
$primary-font: $font-roboto;

// This is the default html and body font-size for the base rem value.
$rem-base: 16px;

// Body
$body-color: $black !default;
$body-bg: $white !default;
$font-size-base: 16px !default;
$line-height-base: 1.562 !default;
$font-family-base: $primary-font !default;

$vertical-rhythm: ($line-height-base * 1em);

$base-min-width: 320px;

// Liks
$link-color: $blue-400;

// Buttons
$btn-color: $white !default;
$btn-background: $black !default;
$btn-padding: 0.4em 0.7em !default;
$btn-font-size: inherit !default;

// Forms
$form-element-padding: $btn-padding !default;
$form-element-border-color: $gray !default;
$form-element-focus-border-color: $black !default;
$placeholder-color: $gray !default;

// Headers
$h1-font-size: 40px !default;
$h2-font-size: 30px !default;
$h3-font-size: 30px !default;
$h4-font-size: 20px !default;
$h5-font-size: 20px !default;
$h6-font-size: 16px !default;

$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-medium: 600;

$headings-font-family: $font-dnc !default;
$headings-color: $black-300 !default;
