// stylelint-disable selector-no-qualifying-type, selector-max-compound-selectors

// -----------------------------------------------------------------------------
// This file contains all styles related to the form elements of the site
// -----------------------------------------------------------------------------

input[type='text'],
input[type='email'],
input[type='search'],
input[type='tel'],
input[type='number'],
input[type='password'],
select,
textarea,
.form-control {
  display: block;
  font-family: $font-roboto;
  font-size: 16px;
  line-height: 26px;
  color: $black;
  min-width: 0;
  width: 100%;
  height: 55px;
  padding: 4px 20px;
  background-color: $white;
  border: 1px solid #e6e7e8;
  border-radius: 0;
  letter-spacing: 2px;
  -webkit-appearance: none;
  outline: none;

  &::placeholder {
    color: rgba($black, 0.5);
    letter-spacing: 6.67px;
  }

  @include media('>=desktop') {
    font-size: 28px;
    line-height: 32px;
  }
}

input[type='submit'],
button[type='submit'] {
  -webkit-appearance: none;
  outline: none;
  border-radius: 0;
}

textarea {
  width: 100% !important;
  height: 235px !important;
  overflow: auto;
  resize: none;
  padding-bottom: 70px !important;
}

.contact-form label.autohide {
  display: none;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
} /* Chrome <=56, Safari < 10 */
input:focus:-moz-placeholder {
  opacity: 0;
} /* FF 4-18 */
input:focus::-moz-placeholder {
  opacity: 0;
} /* FF 19-50 */
input:focus:-ms-input-placeholder {
  opacity: 0;
} /* IE 10+ */
input:focus::placeholder {
  opacity: 0;
} /* Modern Browsers */
