p {
  margin: 0 0 25px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  display: block;
  font-family: $font-dnc;
  font-weight: 700;
  color: $headings-color;
  margin: 0 0 15px;
  line-height: 1.185;

  a {
    color: inherit;
  }

  &.text-white {
    color: $white;
  }

  &.text-blue-600 {
    color: $blue-600;
  }

  &.text-blue-300 {
    color: $blue-300;
  }

  &.text-blue-200 {
    color: $blue-200;
  }

  small {
    display: block;
    font-size: 60%;
    line-height: 1;

    &.text-white {
      color: $white;
    }

    &.text-red {
      color: $red;
    }

    &.text-green {
      color: $green;
    }

    &.text-orange {
      color: $orange-800;
    }
  }

  mark {
    background: none;
    color: $green;
  }
}

h1,
.h1 {
  font-size: $h1-font-size;

  @include media('>=desktop') {
    font-size: 50px;
  }

  &.xl {
    @include media('>=desktop') {
      font-size: 64px;
    }
  }
}

h2,
.h2 {
  font-size: $h2-font-size;

  #sidebar & {
    font-size: 22px;

    @include media('>=desktop') {
      font-size: 26px;
    }
  }

  @include media('>=desktop') {
    font-size: 45px;
  }
}

h3,
.h3 {
  font-size: $h3-font-size;

  @include media('>=desktop') {
    font-size: 35px;
  }
}

h4,
.h4 {
  font-size: $h4-font-size;
  margin-bottom: 5px;

  @include media('>=desktop') {
    font-size: 30px;
  }
}

h5,
.h5 {
  font-size: $h5-font-size;
  margin-bottom: 5px;

  @include media('>=desktop') {
    font-size: 25px;
  }
}

h6,
.h6 {
  font-size: $h6-font-size;

  @include media('>=desktop') {
    font-size: 18px;
  }
}

a {
  color: $link-color;
  text-decoration: none;
  font-weight: 800;
  @include animate(color background border opacity);

  &:hover {
    color: darken($link-color, 10);
  }
}

.text-white {
  color: $white;
}

.text-blue {
  color: $blue;
}

.text-yellow {
  color: $yellow;
}

.text-red {
  color: $red;
}

.text-green {
  color: $green;
}
