// #main {
// 	@extend %clearfix;
// }

// #content {
// 	float: left;
// 	width: 70%;
// 	&:only-child{
// 		float:none;
// 		width:100%;
// 	}
// }

// #sidebar {
// 	float: right;
// 	width: 25%;
// 	#wp-calendar {
// 		width:100%;
// 	}
// }

.widget {
  margin-bottom: $vertical-rhythm;
  @extend %clearfix;
  ul {
    padding-left: 2em;
  }
  select {
    min-width: 150px;
  }
}

.comment-form {
  label {
    display: block;
    padding-bottom: 4px;
  }
  textarea {
    overflow: auto;
    margin: 0;
    height: 120px;
    min-height: 120px;
  }
  textarea,
  input[type='text'] {
    margin: 0 4px 10px 0;
    max-width: 300px;
    width: 100%;
  }
  input[type='submit'] {
    display: block;
    float: none;
  }
}

.post-password-form {
  label {
    display: block;
    margin-bottom: 4px;
  }
  input[type='password'] {
    margin: 0 4px 10px 0;
    // max-width: 300px;
    width: 100%;
  }
}

.post-password-form {
  p {
    @extend %clearfix;
  }
  input {
    float: left;

    &[type='password'] {
      // width: 200px;
    }

    &[type='submit'] {
      min-width: 120px;
    }
  }
}

.commentlist {
  margin: 0 0 $vertical-rhythm;
  .edit-link {
    margin: 0;
  }
  .avatar-holder {
    float: left;
    margin: 0 $vertical-rhythm 4px 0;
  }
}

.commentlist-item {
  .commentlist-item {
    padding: 0;
    @include media('>=tablet') {
      padding: 0 0 0 2em;
    }
  }
}

.comment,
.commentlist-holder {
  overflow: hidden;
}

.commentlist-item .commentlist-item,
.commentlist-item + .commentlist-item {
  padding-top: $vertical-rhythm;
}

.widget_calendar {
  #next {
    text-align: right;
  }
}

.gallery-item {
  dt {
    float: none;
    padding: 0;
  }
}

.navigation,
.navigation-comments {
  position: relative;
  vertical-align: middle;
  margin-bottom: $vertical-rhythm;

  .screen-reader-text {
    position: absolute;
    left: -99999px;
  }

  .page-numbers {
    display: inline-block;
    vertical-align: middle;
    padding: 0 0.4em;
  }

  .next,
  .prev {
    display: inline-block;
    vertical-align: middle;
    // max-width: 48%;
    // background: $btn-background;
    // color: $btn-color;
    // padding: 0.5em 1em;
    text-decoration: none;
    // border-radius: 20px;
    margin-bottom: 5px;

    // &:hover {
    // 	opacity: 0.8;
    // }
  }

  .current {
    color: $orange;
  }
}

.navigation-single {
  @extend %clearfix;
  margin-bottom: $vertical-rhythm;
  .next,
  .prev {
    float: left;
    vertical-align: middle;
    margin-bottom: 5px;
    // max-width: 48%;
    // background: $btn-background;
    // color: $btn-color;
    text-decoration: none;
    // border-radius: 20px;

    // &:hover {
    // 	opacity: 0.8;
    // }

    a {
      color: inherit;
      text-decoration: none;
      padding: 0.5em 1em;
      display: block;
      @include media('<tablet') {
        padding: 0.2em;
      }
    }
  }

  .next {
    float: right;
  }
}

.wp-caption {
  max-width: 100%;
  clear: both;
  border: 1px solid $gray;
  padding: 0.4em;
  margin-bottom: $vertical-rhythm;
  img {
    margin: 0;
    vertical-align: top;
  }
  p {
    margin: 0.4em 0 0;
  }
}

div.aligncenter {
  margin: 0 auto $vertical-rhythm;
}

img.aligncenter {
  display: block;
  margin: 0 auto;
}

.alignleft {
  float: left;
  margin: 0 $vertical-rhythm 4px 0;
}

.alignright {
  float: right;
  margin: 0 0 4px $vertical-rhythm;
}

.mejs-container {
  margin-bottom: $vertical-rhythm;
}

.wp-caption-text,
.gallery,
.alignnone,
.gallery-caption,
.sticky,
.bypostauthor {
  height: auto;
}

iframe {
  @include media('<desktop') {
    width: 100%;
  }
}

#wp-calendar {
  width: 100%;

  tbody {
    td {
      text-align: center;
    }
  }
  td,
  th {
    border: 1px solid $gray;
    padding: 0.3em;
  }
}

.search-form,
.wp-block-search {
  max-width: 600px;

  fieldset {
    border: 0;
  }

  input[type='search'],
  input[type='text'] {
    margin-bottom: 10px;
    // color: $gray;
    letter-spacing: 0;

    &::placeholder {
      color: rgba($black, 0.5);
      letter-spacing: 1px;
    }
  }

  .wp-block-search__inside-wrapper {
    display: block;
  }

  .wp-block-search__button {
    margin: 0;
  }
}
